/.vscode/
/node_modules
/public/null
/public/hot
/public/storage
/storage/backups/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpintel/
